{{#globals kind=kind ~}}
{{#if @first~}}{{>heading-indent}}{{../title}}

<dl>
{{/if~}}
<dt><a href="/#/Reference/{{{this.meta.moduleName}}}">{{{name}}}</a></dt>
<dd>{{{md (inlineLinks description)}}}</dd>
{{#if @last~}}</dl>

{{/if~}}
{{/globals~}}